
<div class="container color-dark" *ngIf="!loggedInUser">
  <div class="col">
    <p>Type your name to get your wish list</p>
  </div>
  <div class="col">
    <form>
      <input type="text" class="txt" name="item" placeholder="user name..." [(ngModel)]="login.username">
      <input type="password" class="txt" name="item" placeholder="user password..." [(ngModel)]="login.password">
      <input type="submit" class="btn" value="Submit" (click)="getUserWishes()" >
    </form>
  </div>
</div>
<div class="container color-dark" *ngIf="loggedInUser">
  <div class="col">
    <p>Add an Item to wish list</p>
  </div>
  <div class="col">
    <p [hidden]="loader">
      Your wish list({{count}})
      <span class="logout pull-right" (click)="logoutUser()">Logout</span>
    </p>
    <p [hidden]="!loader">
      Loading . . .
      <span class="logout pull-right" (click)="logoutUser()">Logout</span>
    </p>
  </div>
</div>
<div class="container color-light" *ngIf="loggedInUser">
  <div class="col">
    <p>Use this form bellow to add new wish list. what do you want to do with your life?</p>
    <form>
      <input type="text" class="txt" name="item" placeholder="add a wish..." [(ngModel)]="wishText" >
      <input type="text" class="txt" name="itemType" placeholder="add wish type..." [(ngModel)]="wishType" >
      <div class="btn-holder">
        <input type="submit" class="btn" value="{{submitBtnText}}" (click)="addOrUpdateItemToWishList()" >
        <input type="button" class="btn" value="Reset" (click)="reset()" >
      </div>
      
    </form>
  </div>
  <div class="col" *ngIf="wishList.length">
    <p class="header-container col-12">
      <span class="col-6">Wish</span>
      <span class="col-4">Type</span>
      <span class="col-2 right-text">Action</span>
    </p>
    <p class="life-container col-12" *ngFor="let item of wishList; let i = index;">
      <label class="col-6" (click)="editWishItem(item.$key)">
        <span class="wish-text ellipsis" title="{{ item.wish }}" >{{ item.wish }}</span>
      </label>
      <label class="col-4" (click)="editWishItem(item.$key)">
        {{ item.type }}
      </label>
      <label class="complete-wish pull-right" (click)="removeWishItem(item.$key)">&#10008;</label>
      <label class="pull-right m-r-10" (click)="editWishItem(item.$key)">&#x270E;</label>
    </p>
  </div>
</div>