/* You can add global styles to this file, and also import other style files */

@import url('//fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background: #2e9ce9;
    padding: 3em;
    font-family: 'Raleway','Arial';
    color: #ffffff;

    ul {
        list-style-type: none;
        margin: 0 0 2em 0;
        padding: 0;

        li {
            display: inline;
            margin-right: 30px;

            a {
                font-size: 1.5em
            }
        }
    }
    a {
       color: #ffffff;
       text-decoration: none; 
    }
    .m-r-10 {
        margin-right: 10px;
    }
    .pull-right {
        float: right;
    }
}
